<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eat.msg.MsgDAO">
  
  <-- 쪽지 보내기 -->
  <insert id="write_msg">
  INSERT INTO message (
    sender, recip, subject, content, msg_date, sender_del, recip_del
  ) VALUES (
    #{sender}, #{recip}, #{subject}, #{content}, NOW(), 0, 0
  )
</insert>

<-- 받은 쪽지 조회 -->
  <select id="recip_msg" resultType="com.example.dto.MsgDTO" parameterType="map">
  SELECT * 
  FROM message
  WHERE recip = #{user_id}
  AND recip_del = 0
  ORDER BY msg_date DESC
  LIMIT #{msg_count} OFFSET #{offset}
</select>

  <-- 보낸 쪽지 조회-->
<select id="send_msg" resultType="com.example.dto.MsgDTO">
  SELECT *
  FROM message
  WHERE sender = #{user_id}
    AND sender_del = 0
  ORDER BY msg_date DESC
  LIMIT #{msg_count} OFFSET #{offset}
</select>

  
</mapper>
