<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eat.regist.RegiUtilDAO">

	<select id="listTagCate" resultType="com.eat.tags.TagCateDTO">
		SELECT * FROM tag_cate
	</select>

	<select id="listTag" resultType="com.eat.tags.TagDTO">
		SELECT
		tag_idx,
		class AS isCourse,
		tag_name,
		cate_idx
		FROM tag WHERE cate_idx = #{param1}
	</select>
	
	<!-- 지역 전체를 불러옵니다. -->
	<select id="listTagArea" resultType="com.eat.tags.TagAreaDTO">
		SELECT * FROM tag_area;
	</select>

	<!-- 식당/코스 태그로부터 특정 태그 검색값을 불러옵니다. -->
	<select id="fromTag" resultType="com.eat.tags.TagDTO">
		SELECT cate_idx, tag_idx , tag_name FROM tag WHERE tag_name LIKE CONCAT
		('%', #{param1}, '%')
	</select>

	<!-- 지역 태그로부터 특정 태그 검색값을 불러옵니다. -->
	<select id="fromLocTag" resultType="com.eat.tags.TagDTO">
		SELECT cate_idx, area_tag_idx AS tag_idx , tag_name FROM tag_area
		WHERE tag_name LIKE CONCAT ('%', #{param1}, '%')
	</select>

	<!-- 식당의 이름을 like절로 검색합니다. -->
	<select id="searchRestaName"
		resultType="com.eat.dto.RestaurantDTO">
		SELECT * FROM restaurant
		WHERE resta_name LIKE CONCAT ('%', #{param1}, '%')
	</select>


	<!-- 식당의 이름을 tag_name[] 으로 검색합니다. -->
	<select id="searchRestaTag" resultType="com.eat.dto.RestaurantDTO">
		SELECT 
			r.*
		FROM tag_rest tr JOIN tag t JOIN restaurant r
		ON tr.tag_idx = t.tag_idx AND tr.resta_idx =r.resta_idx
		WHERE tr.tag_idx IN 
			(SELECT tag_idx FROM tag WHERE tag_name IN 
				<foreach collection="tags" item="tag" separator="," open="(" close=")">
					#{tag}
				</foreach>
			)
		GROUP BY tr.resta_idx HAVING COUNT(tr.tag_idx) = #{count}
		ORDER BY tr.resta_idx DESC
	</select>


	<!-- 지도에 식당 좌표찍기 (위도,경도 가져오기) -->
	<select id="resta_coor" resultType="com.eat.dto.RestaurantDTO">
		SELECT lat, lng FROM restaurant WHERE resta_idx = #{param1}
	</select>

</mapper>